{{#> templates/base/markup/partials/_base-demo-container title='Center Primitive Layout - Pattern'}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'library' 'patterns' 'layouts' 'stack' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'box' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'cluster' 'css'}}}

  <h2>Cluster Primitive Layout</h2>

  <ul class="cluster" style='--measure: 80ch;'>
    <li class='box' style='--measure: 20ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 30ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 50ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 20ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 30ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 50ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>

  </ul>

  {{/ templates/base/markup/partials/_base-demo-container}}