{{#> templates/base/markup/partials/_base-demo-container title='Center Primitive Layout - Pattern'}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'library' 'patterns' 'layouts' 'box' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'cover' 'css'}}}

  <div class="cover">
    <header>
      <h1>Header</h1>
      <p>uncentered element</p>
    </header>
    <main>
      <h2>Main Elements (centered)</h2>
      <article>
        <h3>Article</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed distinctio hic molestiae cupiditate
          minima, eos non in nostrum sunt, recusandae vel ratione modi nisi corrupti adipisci error fugiat facere!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed distinctio hic molestiae cupiditate
          minima, eos non in nostrum sunt, recusandae vel ratione modi nisi corrupti adipisci error fugiat facere!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed distinctio hic molestiae cupiditate
          minima, eos non in nostrum sunt, recusandae vel ratione modi nisi corrupti adipisci error fugiat facere!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed distinctio hic molestiae cupiditate
          minima, eos non in nostrum sunt, recusandae vel ratione modi nisi corrupti adipisci error fugiat facere!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed distinctio hic molestiae cupiditate
          minima, eos non in nostrum sunt, recusandae vel ratione modi nisi corrupti adipisci error fugiat facere!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed distinctio hic molestiae cupiditate
          minima, eos non in nostrum sunt, recusandae vel ratione modi nisi corrupti adipisci error fugiat facere!</p>
      </article>
      
    </main>
    <footer>uncentered element</footer>
  </div>

  {{/ templates/base/markup/partials/_base-demo-container}}