{{#> templates/base/markup/partials/_base title='Imposter Primitive Layout'}}

  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'commons' 'layouts' 'primitives' 'box' 'css'}}}
  {{{feLibs 'commons' 'layouts' 'primitives' 'grid' 'css'}}}
  {{{feLibs 'commons' 'layouts' 'primitives' 'imposter' 'css'}}}

  <div style="position: relative">
    <div class='grid withDebugs' style="--grid-col-min-width: calc(var(--measure) / 3)">
      <div class='box'>
        <div class='stack stack--successive'>
          <h3>card heading</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere maxime qui ipsa enim consequuntur
            laboriosam
            vel soluta sint tempore praesentium rem, cupiditate aperiam magnam impedit, ad tempora odit blanditiis
            laborum?
          </p>
        </div>
      </div>
      <div class='box'>
        <div class='stack stack--successive'>
          <h3>card heading</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere maxime qui ipsa enim consequuntur
            laboriosam
            vel soluta sint tempore praesentium rem, cupiditate aperiam magnam impedit, ad tempora odit blanditiis
            laborum?
          </p>
        </div>
      </div>
      <div class='box'>
        <div class='stack stack--successive'>
          <h3>card heading</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere maxime qui ipsa enim consequuntur
            laboriosam
            vel soluta sint tempore praesentium rem, cupiditate aperiam magnam impedit, ad tempora odit blanditiis
            laborum?
          </p>
        </div>
      </div>
      <div class='box'>
        <div class='stack stack--successive'>
          <h3>card heading</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere maxime qui ipsa enim consequuntur
            laboriosam
            vel soluta sint tempore praesentium rem, cupiditate aperiam magnam impedit, ad tempora odit blanditiis
            laborum?
          </p>
        </div>
      </div>
      <div class='box'>
        <div class='stack stack--successive'>
          <h3>card heading</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere maxime qui ipsa enim consequuntur
            laboriosam
            vel soluta sint tempore praesentium rem, cupiditate aperiam magnam impedit, ad tempora odit blanditiis
            laborum?
          </p>
        </div>
      </div>
      <div class='box'>
        <div class='stack stack--successive'>
          <h3>card heading</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere maxime qui ipsa enim consequuntur
            laboriosam
            vel soluta sint tempore praesentium rem, cupiditate aperiam magnam impedit, ad tempora odit blanditiis
            laborum?
          </p>
        </div>
      </div>

    </div>
    <div class="imposter">
      <div class='box invert'>
        <div class='stack stack--successive'>
          <h3>imposter card</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere maxime qui ipsa enim consequuntur
            laboriosam
            vel soluta sint tempore praesentium rem, cupiditate aperiam magnam impedit, ad tempora odit blanditiis
            laborum?
          </p>
        </div>
    </div>
  </div>

  {{/ templates/base/markup/partials/_base}}