<div class='sound-board__base col' data-js-pat='SoundBoard'>
    <audio id='applause' src='{{assetsUrl "audio" "applause.mp3"}}'></audio>
    <audio id='boo' src='{{assetsUrl "audio" "boo.mp3"}}'></audio>
    <audio id='gasp' src='{{assetsUrl "audio" "gasp.mp3"}}'></audio>
    <audio id='tada' src='{{assetsUrl "audio" "tada.mp3"}}'></audio>
    <audio id='victory' src='{{assetsUrl "audio" "victory.mp3"}}'></audio>
    <audio id='wrong' src='{{assetsUrl "audio" "wrong.mp3"}}'></audio>
    <div id='buttons'></div>
</div>