{{#> templates/base/markup/partials/_base title='Box Primitive Layout - Pattern'}}

  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'stack' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'box' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  <div class='stack stack--successive'>
    <div class="stack stack--successive box">
      <h2>My Box Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus tempore laboriosam officiis
        perspiciatis
        dolorem quam corrupti modi alias? Sit temporibus quod pariatur molestias tempore incidunt possimus alias
        mollitia
        sapiente.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptatem aliquid aut rerum placeat
        nesciunt eaque consequatur. Voluptatem, laudantium sapiente veniam ex aut consequuntur unde sequi dolor
        cupiditate
        similique dolores?</p>
    </div>

    <div class="stack stack--successive box invert">
      <h2>My Box Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus tempore laboriosam officiis
        perspiciatis
        dolorem quam corrupti modi alias? Sit temporibus quod pariatur molestias tempore incidunt possimus alias
        mollitia
        sapiente.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptatem aliquid aut rerum placeat
        nesciunt eaque consequatur. Voluptatem, laudantium sapiente veniam ex aut consequuntur unde sequi dolor
        cupiditate
        similique dolores?</p>
    </div>

    <div class="stack stack--successive box">
      <header class='box invert'>
              <h2>My Box Heading</h2>
      </header>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero possimus tempore laboriosam officiis
        perspiciatis
        dolorem quam corrupti modi alias? Sit temporibus quod pariatur molestias tempore incidunt possimus alias
        mollitia
        sapiente.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptatem aliquid aut rerum placeat
        nesciunt eaque consequatur. Voluptatem, laudantium sapiente veniam ex aut consequuntur unde sequi dolor
        cupiditate
        similique dolores?</p>
    </div>
  </div>





  {{/ templates/base/markup/partials/_base}}