{{#> templates/base/markup/partials/_base title='Center Primitive Layout - Pattern'}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'center' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}
  <h2>Center Primitive Layout</h2>

  <div class='center withDebugs'>
    <div style='padding: 1rem;'>
      <code style='display: block;'>
        <pre>
div {
  inline-size: 100%;
  padding: 1rem;
}
        </pre>
      </code>
    </div>
  </div>

  {{/ templates/base/markup/partials/_base}}