{{#> templates/base/markup/partials/_base title='Center Primitive Layout - Pattern'}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'library' 'patterns' 'layouts' 'stack' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'box' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'center' 'css'}}}

  <h2>Center Primitive Layout</h2>

  <div class="box">
    <div class="center">
      <div class="stack stack--successive">
        <h3>Basic Example</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat quod iste quos odio, aspernatur exercitationem quas harum, cum, dolorum assumenda sunt ipsum officiis expedita. Laudantium nihil quis voluptas debitis nesciunt?</p>
      </div>
    </div>
  </div>

  {{/ templates/base/markup/partials/_base}}