{{#> templates/base/markup/partials/_base title='Center Primitive Layout - Pattern'}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'library' 'patterns' 'layouts' 'frame' 'css'}}}

  <div class="frame">
    <img
      src="https://images.unsplash.com/photo-1682686581413-0a0ec9bb35bb?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="description of the image here" />
  </div>

  {{/ templates/base/markup/partials/_base}}