{{#> templates/base/markup/partials/_base title='Center Primitive Layout - Pattern'}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'library' 'patterns' 'layouts' 'box' 'css'}}}
  {{{feLibs 'library' 'patterns' 'layouts' 'switcher' 'css'}}}

  <div class="switcher">
    <div class="box">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam adipisci assumenda mollitia ut perspiciatis,
        repudiandae eligendi officiis laboriosam architecto, ducimus ea atque tempora qui deleniti libero, nisi quos
        culpa quis!</p>
    </div>
    <div class="box invert">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam adipisci assumenda mollitia ut perspiciatis,
        repudiandae eligendi officiis laboriosam architecto, ducimus ea atque tempora qui deleniti libero, nisi quos
        culpa quis!</p>
    </div>
    <div class="box">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam adipisci assumenda mollitia ut perspiciatis,
        repudiandae eligendi officiis laboriosam architecto, ducimus ea atque tempora qui deleniti libero, nisi quos
        culpa quis!</p>
    </div>
    <div class="box invert">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam adipisci assumenda mollitia ut perspiciatis,
        repudiandae eligendi officiis laboriosam architecto, ducimus ea atque tempora qui deleniti libero, nisi quos
        culpa quis!</p>
    </div>
  </div>

  {{/ templates/base/markup/partials/_base}}