{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true hasJS=true}}

  {{{feLibs 'library' 'patterns' 'tabs' 'navigation-tabs-css' 'css'}}}
  {{{feLibs 'library' 'components' 'image' 'image' 'css'}}}
  {{{feLibs 'library' 'components' 'button' 'button' 'css'}}}
  {{{feLibs 'library' 'components' 'typography' 'heading' 'css'}}}
  {{{feLibs 'library' 'modules' 'weather-app' 'weather-app' 'all'}}}

<article class="weather-app__base"
        data-js-widget="WeatherApp">
  <div class="weather-app__weather">
    <h2 class="heading__base
              heading__base--heading-200
              heading__base--is-center-aligned
              js-weather-app-city"></h2>
    <img class="image__icon js-weather-app-image"  src="#" alt="text"/>
    <p class="paragraph__base
              js-weather-app-description"></p>
    <p class="weather-app__temp-info
              js-weather-app-fahrenheit"></p>
    <p class="weather-app__temp-info
              js-weather-app-celsius"></p>
  </div>

  <div class="weather-app__details-container">
    <div class="navigation-tabs-css__base">
      <input class="navigation-tabs-css__radio navigation-tabs-css__radio--one" id="one" name="group" type="radio" checked />
      <input class="navigation-tabs-css__radio navigation-tabs-css__radio--two" id="two" name="group" type="radio" />
      <input class="navigation-tabs-css__radio navigation-tabs-css__radio--three" id="three" name="group" type="radio" />
      <ul class="navigation-tabs-css__tabs-list">
        <li><label class="navigation-tabs-css__tab navigation-tabs-css__tab--one" id="one-tab" for="one">Min - Max Temperature</label></li>
        <li><label class="navigation-tabs-css__tab navigation-tabs-css__tab--two" id="two-tab" for="two">Longitude and Latitude</label></li>
        <li><label class="navigation-tabs-css__tab navigation-tabs-css__tab--three" id="three-tab" for="three">Humidity - Pressure - Wind Speed</label></li>
      </ul>
      <div class="navigation-tabs-css__panels-list">
        <div class="navigation-tabs-css__panel navigation-tabs-css__panel--one" >
          <p class="weather-app__details">
            <span class="js-weather-app-min"></span>
            <span class="js-weather-app-max"></span>
          </p>
        </div>
        <div class="navigation-tabs-css__panel navigation-tabs-css__panel--two">
          <p class="weather-app__details">
            <span class="js-weather-app-longitude"></span>
            <span class="js-weather-app-latitude"></span>
          </p>
        </div>
        <div class="navigation-tabs-css__panel navigation-tabs-css__panel--three">
          <p class="weather-app__details">
            <span class="paragraph__base js-weather-app-humidity"></span>
            <span class="paragraph__base js-weather-app-pressure"></span>
            <span class="paragraph__base js-weather-app-windSpeed"></span>
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="weather-app__buttons-group">
    <button class="button__base js-weather-app-button-celsius active-case">Celsius</button>
    <button class="button__base js-weather-app-button-fahrenheit">Farenheit</button>
  </div>
</article>

{{/ templates/base/markup/partials/_base-demo-container }}