{{#> templates/base/markup/partials/_base title='Center Primitive Layout - Pattern'}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'commons' 'layouts' 'primitives' 'stack' 'css'}}}
  {{{feLibs 'commons' 'layouts' 'primitives' 'box' 'css'}}}
  {{{feLibs 'commons' 'layouts' 'primitives' 'sidebar' 'css'}}}

  <div class="with-sidebar">
    <ul>
      <li>
        <a href="#">link 1</a>
      </li>
      <li>
        <a href="#">link 2</a>
      </li>
      <li>
        <a href="#">link 3</a>
      </li>
      <li>
        <a href="#">link 4</a>
      </li>
      <li>
        <a href="#">link 5</a>
      </li>
    </ul>
    <div class='stack stack--successive'>
      <article class='box'>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, magni inventore? Quis nam suscipit,
            sit dolorem, excepturi ut cupiditate molestiae velit sequi commodi, libero eligendi! Quam molestiae est
            itaque recusandae?</span><span>Nemo, placeat? Vero placeat ad fuga aspernatur sit minus fugit ea, culpa
            iusto hic delectus doloribus ipsa aliquam cum repudiandae impedit. Placeat recusandae rerum accusantium?
            Alias quisquam neque tempora hic.</span></p>
      </article>
      <article class='box'>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, magni inventore? Quis nam suscipit,
            sit dolorem, excepturi ut cupiditate molestiae velit sequi commodi, libero eligendi! Quam molestiae est
            itaque recusandae?</span><span>Nemo, placeat? Vero placeat ad fuga aspernatur sit minus fugit ea, culpa
            iusto hic delectus doloribus ipsa aliquam cum repudiandae impedit. Placeat recusandae rerum accusantium?
            Alias quisquam neque tempora hic.</span></p>
      </article>
      <article class='box'>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, magni inventore? Quis nam suscipit,
            sit dolorem, excepturi ut cupiditate molestiae velit sequi commodi, libero eligendi! Quam molestiae est
            itaque recusandae?</span><span>Nemo, placeat? Vero placeat ad fuga aspernatur sit minus fugit ea, culpa
            iusto hic delectus doloribus ipsa aliquam cum repudiandae impedit. Placeat recusandae rerum accusantium?
            Alias quisquam neque tempora hic.</span></p>
      </article>
      <article class='box'>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, magni inventore? Quis nam suscipit,
            sit dolorem, excepturi ut cupiditate molestiae velit sequi commodi, libero eligendi! Quam molestiae est
            itaque recusandae?</span><span>Nemo, placeat? Vero placeat ad fuga aspernatur sit minus fugit ea, culpa
            iusto hic delectus doloribus ipsa aliquam cum repudiandae impedit. Placeat recusandae rerum accusantium?
            Alias quisquam neque tempora hic.</span></p>
      </article>
      <article class='box'>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, magni inventore? Quis nam suscipit,
            sit dolorem, excepturi ut cupiditate molestiae velit sequi commodi, libero eligendi! Quam molestiae est
            itaque recusandae?</span><span>Nemo, placeat? Vero placeat ad fuga aspernatur sit minus fugit ea, culpa
            iusto hic delectus doloribus ipsa aliquam cum repudiandae impedit. Placeat recusandae rerum accusantium?
            Alias quisquam neque tempora hic.</span></p>
      </article>
    </div>
  </div>

  {{/ templates/base/markup/partials/_base}}