<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{{feLibs 'commons' 'base' 'reset' 'reset' 'css'}}}
  {{{feLibs 'commons' 'base' 'elements' 'elements' 'css'}}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base' 'all'}}}
</head>

{{> @partial-block}}

</html>