{{#> templates/base/markup/partials/_base title='Center Primitive Layout - Pattern'}}
  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'commons' 'layouts' 'primitives' 'box' 'css'}}}
  {{{feLibs 'commons' 'layouts' 'primitives' 'grid' 'css'}}}

  <h2>Grid Primitive Layout</h2>

  <ul class="grid ">
    <li class='box' style='--measure: 20ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 20ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 20ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 20ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 20ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>
    <li class='box' style='--measure: 20ch;'>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut qui blanditiis porro nesciunt impedit earum
        exercitationem animi ab, alias dignissimos nisi cupiditate iusto optio enim perferendis! Nobis aspernatur facere
        consequatur?</p>
    </li>

  </ul>

  {{/ templates/base/markup/partials/_base}}