{{#> templates/base/markup/partials/_base title='Icon Primitive Layout'}}

  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}

  {{{feLibs 'commons' 'layouts' 'primitives' 'icon-l' 'css'}}}

  <span class="with-icon">
    <svg class='icon' viewBox="0 0 10 10" width="0.75em" height="0.75em" stroke="currentColor" stroke-width="2">
      <path d="M1,1 9,9 M9,1 1,9" />
    </svg>
    Close
  </span>

  {{/ templates/base/markup/partials/_base}}