<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="{{assetsUrl 'icons' 'favicon-32x32.png'}}">
  <title>{{title}}</title>
    {{{feLibs 'system' 'templates' 'dev-days-matrix' 'dev-days-matrix-base' 'css'}}}
</head>

<body class='grid'>
  {{> @partial-block}}

    <p class="attribution">
    Project from <a href="{{ attributionFromHref }}" target="_blank">{{ attributionFromLabel }}</a>.
    Improved by <a href="#">Paul Serban</a> for academic purposes.
  </p>
</body>
</html>