{{#> templates/base/markup/partials/_base title='Box Primitive Layout - Pattern'}}

  {{{feLibs 'commons' 'themes' 'base' 'base-auto' 'css'}}}
  {{{feLibs 'system' 'templates' 'base' 'base-tpl' 'css'}}}

  {{{feLibs 'commons' 'devTools' 'debug' 'debug' 'css'}}}
  {{{feLibs 'commons' 'devTools' 'lint' 'lint' 'css'}}}


  {{{feLibs 'commons' 'layouts' 'patterns' 'holy-grail' 'css'}}}


  <div class="holy-grail withDebugs">
    <header class="holy-grail__header">
      <h1>Holy Grail Layout Heading</h1>
    </header>
    <div class="holy-grail__left-side">
      <h2>Left Side Bar</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Voluptas natus quae voluptate id?</li>
        <li>Cupiditate ad optio ea repellat.</li>
        <li>Officiis qui alias ab tenetur.</li>
        <li>Dolore consequatur in nobis natus?</li>
      </ul>
    </div>
    <main class="holy-grail__main">
      <h2>Main Container Holy Grail</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam incidunt voluptates, fugiat officia aliquid
        repudiandae esse dolor, accusamus aspernatur veritatis perspiciatis aut. Maxime corrupti, earum sequi cumque
        dolorem vero molestias.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam incidunt voluptates, fugiat officia aliquid
        repudiandae esse dolor, accusamus aspernatur veritatis perspiciatis aut. Maxime corrupti, earum sequi cumque
        dolorem vero molestias.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam incidunt voluptates, fugiat officia aliquid
        repudiandae esse dolor, accusamus aspernatur veritatis perspiciatis aut. Maxime corrupti, earum sequi cumque
        dolorem vero molestias.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam incidunt voluptates, fugiat officia aliquid
        repudiandae esse dolor, accusamus aspernatur veritatis perspiciatis aut. Maxime corrupti, earum sequi cumque
        dolorem vero molestias.</p>
    </main>
    <div class="holy-grail__right-side">
      <h2>Right Side Bar</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Voluptas natus quae voluptate id?</li>
        <li>Cupiditate ad optio ea repellat.</li>
        <li>Officiis qui alias ab tenetur.</li>
        <li>Dolore consequatur in nobis natus?</li>
      </ul>
    </div>
    <footer class="holy-grail__footer">
      <h3>Footer</h3>
      <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat odit natus omnis vero officia a non totam
          explicabo fugit? Beatae assumenda sunt accusantium natus debitis mollitia qui adipisci in et.</p>
      </div>
    </footer>
  </div>

  {{/ templates/base/markup/partials/_base}}