{{#> ./partials/_base title='Base Page Template'}}
  <link rel="stylesheet" href="/commons/layouts/grid/12-col-flexbox-grid.css">
  
  <body class='grid'>
    <h1>Heading 1: {{title}}</h1>
    <h2>Heading 2: {{title}}</h2>
    <h3>Heading 3: {{title}}</h3>
    <h4>Heading 4: {{title}}</h4>
    <h5>Heading 5: {{title}}</h5>

    <p>Paragraph: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus nulla ab consectetur odio omnis esse veniam facilis repellat voluptate vero? Impedit earum sunt a labore beatae voluptatibus saepe quam fuga!</p>
    <p>paragraph with inline line: Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href='#'>Deleniti commodi aliquam amet enim nulla quibusdam ducimus</a> sed debitis est iure omnis maiores pariatur et illum beatae asperiores adipisci, cupiditate numquam!</p>
  </body>

{{/ ./partials/_base}}