{{#> templates/base/markup/partials/_base-demo-container use12ColGrid=true title="Rotating Navigation"}}
  {{{feLibs 'library' 'components' 'image' 'image' 'css'}}}
  {{{feLibs 'library' 'components' 'typography' 'paragraph' 'css'}}}
    {{{feLibs 'library' 'components' 'typography' 'heading' 'css'}}}
      {{{feLibs 'library' 'components' 'list' 'unordered-list' 'css'}}}
        {{{feLibs 'library' 'modules' 'navigation' 'rotating-navigation' 'all'}}}

  <div class="navigation-rotating__base" data-js-pat="NavigationRotating">
    <div class="navigation-rotating__container js-nav-rotating-container">
      <div class="navigation-rotating__circle-container">
        <div class="navigation-rotating__circle">
          <button class="navigation-rotating__close-button js-nav-rotating-btn-close">
            <img class="fa-times" src="{{assetsUrl 'svgs' 'fa-times.svg'}}" />
          </button>
          <button class="navigation-rotating__open-button js-nav-rotating-btn-open">
            <img class="fa-bars" src="{{assetsUrl 'svgs' 'fa-bars.svg'}}" />
          </button>
        </div>
      </div>
      <div class="navigation-rotating__content">
        <h2 class="heading__base heading__base--heading-200">Amazing Article</h2>
        <p class="paragraph__base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quia in ratione dolores cupiditate,
          maxime aliquid impedit dolorem nam dolor omnis atque fuga labore modi veritatis porro laborum minus, illo,
          maiores recusandae cumque ipsa quos. Tenetur, consequuntur mollitia labore pariatur sunt quia harum aut.
          Eum maxime dolorem provident natus veritatis molestiae cumque quod voluptates ab non, tempore cupiditate?
          Voluptatem, molestias culpa. Corrupti, laudantium iure aliquam rerum sint nam quas dolor dignissimos in
          error placeat quae temporibus minus optio eum soluta cupiditate! Cupiditate saepe voluptates laudantium.
          Ducimus consequuntur perferendis consequatur nobis exercitationem molestias fugiat commodi omnis.
          Asperiores quia tenetur nemo ipsa.
        </p>
        <h3 class="heading__base heading__base--heading-300">My Dog</h3>
        {{> components/image/markup/partials/_image-v2 imgName="doggy" altText="doggy"}}

        <p class="paragraph__base">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit libero deleniti rerum quo, incidunt vel
          consequatur culpa ullam. Magnam facere earum unde harum. Ea culpa veritatis magnam at aliquid. Perferendis
          totam placeat molestias illo laudantium? Minus id minima doloribus dolorum fugit deserunt qui vero
          voluptas, ut quia cum amet temporibus veniam ad ea ab perspiciatis, enim accusamus asperiores explicabo
          provident. Voluptates sint, neque fuga cum illum, tempore autem maxime similique laborum odio, magnam
          esse. Aperiam?
        </p>
      </div>
    </div>

    <nav class="navigation-rotating__navigation">
      <ul class="list-unordered__base">
        <li class="list-unordered__item navigation-rotating__navigation-item">
          <i class="fas fa-home"></i><a class="link__base" href="#"> Home</a>
        </li>
        <li class="list-unordered__item navigation-rotating__navigation-item">
          <i class="fas fa-user-alt"></i><a class="link__base" href="#"> About</a>
        </li>
        <li class="list-unordered__item navigation-rotating__navigation-item">
          <i class="fas fa-envelope"></i><a class="link__base" href="#"> Contact</a>
        </li>
      </ul>
    </nav>
  </div>
{{/ templates/base/markup/partials/_base-demo-container}}